# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************
name: QNX8 - Build & Integration Test
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
  merge_group:
    types: [checks_requested]
  push:
    branches:
      - main
jobs:
  qnx-build-x86_64:
    name: x86_64
    runs-on: ${{ vars.REPO_RUNNER_LABELS && fromJSON(vars.REPO_RUNNER_LABELS) || 'ubuntu-latest' }}
    environment: ${{ inputs.environment-name }}
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout repository (Handle all events)
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.head_ref || github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
      - name: Setup Bazel with shared caching
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          disk-cache: ${{ github.workflow }}
          repository-cache: true
          bazelisk-cache: true
          cache-save: ${{ github.event_name == 'push' }}
      - name: Prepare QNX license
        env:
          SCORE_QNX_LICENSE: ${{ secrets.SCORE_QNX_LICENSE }}
        run: |
          set -euo pipefail

          LICENSE_DIR="/opt/score_qnx/license"
          sudo mkdir -p "${LICENSE_DIR}"
          echo "${SCORE_QNX_LICENSE}" | base64 --decode | sudo tee "${LICENSE_DIR}/licenses" >/dev/null
      - name: Install qemu
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Allow unprivileged user namespaces
        run: |
          sudo sysctl kernel.apparmor_restrict_unprivileged_userns=0
      - name: Build with QNX toolchain
        env:
          SCORE_QNX_USER: ${{ secrets.SCORE_QNX_USER }}
          SCORE_QNX_PASSWORD: ${{ secrets.SCORE_QNX_PASSWORD }}
        run: |
          bazel build --config qnx-x86_64 //images/qnx_x86_64:image
      - name: Run integration tests
        run: |
          bazel test --config=itf-qnx-x86_64 //feature_integration_tests/itf:qnx_x86_64
      - name: Cleanup QNX license
        if: always()
        run: sudo rm -rf /opt/score_qnx
