# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************
name: Linux - Build & Integration Test
on:
  workflow_dispatch:
  pull_request:
  release:
    types: [created]
  push:
    branches:
      - main
jobs:
  x86_64:
    runs-on: ubuntu-latest
    permissions:
      contents: write # required to upload release assets
    steps:
      - name: Clean disk space
        uses: eclipse-score/more-disk-space@v1
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.8.0
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
          cache-save: ${{ github.event_name == 'push' }}
      - name: Build image
        run: |
          bazel build --config=linux-x86_64 //images/linux_x86_64:image
      - name: Integration tests
        run: |
          bazel test --config=linux-x86_64 //feature_integration_tests/itf:linux_x86_64
